<div id="playground">
    <div id="welcomeScreen">
      {% for song in site.data.music %}
		    <audio id="{{ song.id }}"> <source src="{{ site.baseurl }}/assets/music/{{ song.title }}" type="{{ song.type }}"/> </audio>
      {% endfor %}


      {% for character in site.data.characters.teamA %}
        <div id="boxes" class="{{ character.class }} avatar">
			     <img id="{{ character.id }}" src="{{ site.baseurl }}/assets/sprites/{{ character.fileName }}">
		    </div>
      {% endfor %}

		<div id="boxes">
			<div id="startbutton">Choose Mode</div>
		</div>

    {% for character in site.data.characters.teamB %}
        <div id="boxes" class="{{ character.class }} avatar">
            <img id="{{ character.id }}" src="{{ site.baseurl }}/assets/sprites/{{ character.fileName }}">
        </div>
      {% endfor %}
		
		<div id="boxes" class="fillSpace clear"/></div>
		<div id="boxes" class="mini left first">
			<p>1</p></div>
		<div id="boxes" class="mini bottom left second">
			<p>2</p></div>
		<div id="boxes" class="mini left third">
			<p>3</p></div>
		<div id="boxes" class="fillSpace">
			<ul id="mode">
				<li id="1player">1player</li>
				<li id="2players">2players</li>
			</ul></div>
			<div id="boxes" class="mini right first">
				<p>1</p></div>
			<div id="boxes" class="mini bottom right second">
				<p>2</p></div>
			<div id="boxes" class="mini right third">
				<p>3</p></div>
    </div>

    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.gamequery-0.7.0.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/gameScript.js"></script>
</div>


